/*  HTML5 ✰ Boilerplate  What follows is the result of much research on cross-browser styling.  Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal, Kroc Camen, and the H5BP dev community and team.  Detailed information about this CSS: h5bp.com/css  ==|== normalize ========================================================== */
/* ============================================================================= HTML5 display definitions ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; }

[hidden] { display: none; }

/* ============================================================================= Base ========================================================================== */
/* 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units 2. Force vertical scrollbar in non-IE 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g */
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: gray; -webkit-font-smoothing: antialiased; }

/*  Remove text-shadow in selection highlight: h5bp.com/i These selection declarations have to be separate Also: hot pink! (or customize the background color to match your design) */
::-moz-selection { background: #00a3e7; color: #fff; text-shadow: none; }

::selection { background: #00a3e7; color: #fff; text-shadow: none; }

/* ============================================================================= Links ========================================================================== */
a { color: #00e; }

a:visited { color: #551a8b; }

a:hover { color: #06e; }

a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }

/* ============================================================================= Typography ========================================================================== */
abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: "courier new", monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }

q:before, q:after { content: ""; content: none; }

small { font-size: 85%; color: #bfbfbf; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* ============================================================================= Lists ========================================================================== */
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }

dd { margin: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

/* ============================================================================= Embedded content ========================================================================== */
/* 1. Improve image quality when scaled in IE7: h5bp.com/d 2. Remove the gap between images and borders on image containers: h5bp.com/e  */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/* Correct overflow not hidden in IE9  */
svg:not(:root) { overflow: hidden; }

/* ============================================================================= Figures ========================================================================== */
figure { margin: 0; }

/* ============================================================================= Forms ========================================================================== */
form { margin: 0; }

fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*  1. Correct color not inheriting in IE6/7/8/9  2. Correct alignment displayed oddly in IE6/7  */
legend { border: 0; *margin-left: -7px; padding: 0; }

/* 1. Correct font-size not inheriting in all browsers 2. Remove margins in FF3/4 S5 Chrome 3. Define consistent vertical alignment display in all browsers */
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/* 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet) 2. Correct inner spacing displayed oddly in IE6/7 */
button, input { line-height: normal; *overflow: visible; }

/* Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7 */
table button, table input { *overflow: auto; }

/* 1. Display hand cursor for clickable form elements 2. Allow styling of clickable form elements in iOS */
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/* Consistent box sizing and appearance */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*  Remove inner padding and border in FF3/4: h5bp.com/l  */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*  1. Remove default vertical scrollbar in IE6/7/8/9  2. Allow only vertical resizing */
textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* ============================================================================= Tables ========================================================================== */
table { border-collapse: collapse; border-spacing: 0; }

td { vertical-align: top; }

body { background: whitesmoke; }

h1, h2, h3, h4, h5 { font-family: "Neo Sans W01", "Helvetica Neue", helvetica, arial, sans-serif; padding: 0; margin: 0 0 10px 0; font-weight: normal; }

h1 { font-size: 35px; margin: 50px 0 0 42px; color: #333; }
h1 span { color: #B9CA2B; }

h2 { font-size: 37px; }

h3 { color: #00a3e7; font-size: 23px; }

h4 { font-size: 20px; }

.hr { padding-bottom: 10px; border-bottom: 2px solid #e5e5e5; }

p { padding: 0 0 20px 0; margin: 0; font-size: 14px; line-height: 150%; }

ul { list-style-type: none; padding: 0; font-family: arial; }

a { text-decoration: none; }
a:link, a:visited { color: #00a3e7; }

a.more:link, a.more:visited { margin-top: 7px; font-size: 17px; display: inline-block; -webkit-transition-duration: 0.1s; -moz-transition-duration: 0.1s; -o-transition-duration: 0.1s; transition-duration: 0.1s; }
a.more:hover, a.more:visited { padding-left: 5px; -webkit-transition-duration: 0.1s; -moz-transition-duration: 0.1s; -o-transition-duration: 0.1s; transition-duration: 0.1s; }

img.popup { cursor: hand; cursor: pointer; }

header { height: 350px; }

#branding { width: 940px; margin: 0 auto; position: relative; height: 50px; }

#logo { background: url("http://cdn.onapp.com/assets/img/global-sprites.png") 0 0 no-repeat; position: absolute; top: 35px; text-indent: -99999px; height: 21px; width: 181px; }

div#carousel-wrapper { height: 250px; padding-top: 70px; }
div#carousel-wrapper div.images { position: relative; height: 250px; width: 1024px; margin: 0 auto; }
div#carousel-wrapper div.images div { position: absolute; top: 0; left: 0; height: 250px; width: 100%; background-position: center center; background-repeat: no-repeat; display: none; }
div#carousel-wrapper div.images div a.button { position: absolute; left: 42px; top: 180px; }
div#carousel-wrapper div.images #cloud-banner { background-image: url("../img/cloud-banner.png"); }
div#carousel-wrapper div.images #cdn-banner { background-image: url("../img/cdn-banner.png"); }
div#carousel-wrapper div.images #storage-banner { background-image: url("../img/storage-banner.png"); }
div#carousel-wrapper div.images #wmware-banner { background-image: url("../img/vmware-banner.png"); }
div#carousel-wrapper div.slidetabs { width: 80px; margin: 0 auto; }
div#carousel-wrapper div.slidetabs a { width: 16px; height: 16px; text-indent: -99999px; display: block; float: left; margin: 0 2px; background: url("http://cdn.onapp.com/assets/img/global-sprites.png") -271px 0 no-repeat; }
div#carousel-wrapper div.slidetabs a.current { background: url("http://cdn.onapp.com/assets/img/global-sprites.png") -303px 0 no-repeat; }

div.section-wrapper { background: url("../img/grad.jpg") bottom center no-repeat; }

section { width: 940px; margin: 0 auto; padding: 25px 0 15px 0; overflow: auto; }
section div.left { float: left; }
section div.right { float: right; }
section img { margin: 0 auto; display: block; }

section#intro div.copy { width: 480px; }
section#intro div.img { width: 440px; padding: 10px 0 0 0; }

section#storage div.copy { width: 500px; }
section#storage div.img { width: 320px; padding: 10px 0 0 0; }

section#cdn div.copy { width: 450px; }
section#cdn div.img { width: 420px; padding: 20px 20px 0 20px; }

section#vmware div.copy { width: 550px; }
section#vmware div.img { width: 292px; padding: 100px 20px; }

section#useability div.copy { width: 580px; }
section#useability div.img { width: 221px; padding: 10px 40px; }

#footer-wrapper { background: url("../img/grad.jpg") bottom center no-repeat; }

footer { width: 960px; margin: 0 auto; padding: 20px 0 0 0; }
footer #ctas { background-color: #efefef; overflow: auto; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #ebebeb)); background-image: -webkit-linear-gradient(#fafafa, #ebebeb); background-image: -moz-linear-gradient(#fafafa, #ebebeb); background-image: -o-linear-gradient(#fafafa, #ebebeb); background-image: linear-gradient(#fafafa, #ebebeb); -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; margin: 0; }
footer #ctas li { width: 199px; height: 100%; border-right: 1px solid #cdcdcd; float: left; padding: 15px 20px; font-weight: bold; }
footer #ctas li p { margin: 0; padding: 0; font-size: 13px; }
footer #ctas li a.button { padding: 5px 10px; margin: 10px 0 0 0; }
footer #ctas li.last { border: none; }
footer #footer-links { overflow: auto; font-size: 12px; margin: 30px 0 0 0; padding: 0 10px; }
footer #footer-links li { float: left; margin-right: 30px; }
footer #footer-links li a:link, footer #footer-links li a:visited { color: #999; }
footer #footer-links .linkedin, footer #footer-links .twitter, footer #footer-links .facebook { float: right; margin: 0 0 0 6px; }
footer #footer-links .linkedin a, footer #footer-links .twitter a, footer #footer-links .facebook a { display: block; width: 30px; height: 29px; background-image: url(http://cdn.onapp.com/assets/img/global-sprites.png); opacity: 0.4; -webkit-transition: all, 0.25s, ease-in-out; -moz-transition: all, 0.25s, ease-in-out; -o-transition: all, 0.25s, ease-in-out; transition: all, 0.25s, ease-in-out; }
footer #footer-links .linkedin a:hover, footer #footer-links .linkedin a:focus, footer #footer-links .twitter a:hover, footer #footer-links .twitter a:focus, footer #footer-links .facebook a:hover, footer #footer-links .facebook a:focus { opacity: 1; }
footer #footer-links .facebook { background-position: -181px 0; }
footer #footer-links .twitter { background-position: -211px 0; }
footer #footer-links .linkedin { background-position: -241px 0; }
footer .copyright { padding: 0 10px 100px 10px; }

/* Primary Nav
--------------------------------------------------------------------------------- */
#firstnav { position: absolute; top: 30px; right: 42px; z-index: 500; /* Nav - level 1 */ }
#firstnav > ul { float: right; }
#firstnav > ul > li.has_children a:link, #firstnav > ul > li.has_children a:visited { position: relative; padding-right: 30px; }
#firstnav > ul > li.has_children a:hover span { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
#firstnav > ul > li.has_children span { position: absolute; top: 17px; right: 12px; display: block; width: 7px; height: 7px; background: url(http://cdn.onapp.com/assets/img/global-sprites.png) -308px -21px no-repeat; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
#firstnav > ul li.has_children:hover > ul { display: block; }
#firstnav > ul li.has_children:hover > a:link, #firstnav > ul li.has_children:hover > a:visited { position: relative; z-index: 200; background: #fff; color: #58595b; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; }
#firstnav > ul li.has_children:hover > a:link span, #firstnav > ul li.has_children:hover > a:visited span { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
#firstnav li { position: relative; float: left; margin: 4px 0 0 8px; font-family: "Neo Sans W01", "Helvetica Neue", helvetica, arial, sans-serif; font-size: 15px; }
#firstnav li a:link, #firstnav li a:visited { display: block; padding: 10px 20px 8px 20px; color: gray; text-decoration: none; }
#firstnav li a:hover, #firstnav li a:focus { color: #58595b; }

/* Primary Nav - level 2 */
#firstnav ul ul { display: none; z-index: 110; position: absolute; top: 36px; padding: 20px 20px 30px 20px; background: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }
#firstnav ul ul li { margin: 0; width: 140px; font-family: "Helvetica Neue", helvetica, arial, sans-serif; font-size: 12px; }
#firstnav ul ul a:link, #firstnav ul ul a:visited { margin: 0 4px; padding: 5px 6px; border-bottom: 1px solid #e5e5e5; font-weight: bold; color: #58595b; }
#firstnav ul ul a:hover, #firstnav ul ul a:focus { color: #00a3e7; }
#firstnav ul ul.col2, #firstnav ul li.node_contact > ul, #firstnav ul li.node_support-and-docs > ul, #firstnav ul li.node_company > ul { width: 420px; left: 50%; margin-left: -290px; }
#firstnav ul ul.col3 { width: 420px; left: 50%; margin-left: -240px; }
#firstnav ul ul.col4, #firstnav ul li.node_products > ul { width: 420px; left: 50%; margin-left: -310px; }

/* Primary Nav - level 3 */
#firstnav ul ul ul { display: block; position: static; float: left; padding: 0; background: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
#firstnav ul ul ul li { float: none; }
#firstnav ul ul ul a:link, #firstnav ul ul ul a:visited { font-weight: normal; color: gray; }
#firstnav ul ul ul a:hover, #firstnav ul ul ul a:focus { color: #00a3e7; }

/* Default button
--------------------------------------------------------------------------------- */
.button { display: block; float: left; margin-top: 20px; padding: 8px 20px; border: 0; background: #00a3e7; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00afd8), color-stop(100%, #009dcd)); background-image: -webkit-linear-gradient(#00afd8, #009dcd); background-image: -moz-linear-gradient(#00afd8, #009dcd); background-image: -o-linear-gradient(#00afd8, #009dcd); background-image: linear-gradient(#00afd8, #009dcd); -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); font-family: "Neo Sans W01", "Helvetica Neue", helvetica, arial, sans-serif; font-size: 1.076923076923077em; /* 14px */ line-height: 1.428571428571429em; /* 20px */ white-space: nowrap; color: #fff; }
.button:link, .button:visited { color: #fff; }
.button:hover { text-decoration: none; color: #fff; cursor: hand; cursor: pointer; }

.button:hover, .button:focus { background: #1eb8dd; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #31c4e3), color-stop(100%, #15a7d3)); background-image: -webkit-linear-gradient(#31c4e3, #15a7d3); background-image: -moz-linear-gradient(#31c4e3, #15a7d3); background-image: -o-linear-gradient(#31c4e3, #15a7d3); background-image: linear-gradient(#31c4e3, #15a7d3); }

.button:active { padding: 9px 20px 7px 20px; background: #009ec3; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0089b3), color-stop(100%, #00accc)); background-image: -webkit-linear-gradient(#0089b3, #00accc); background-image: -moz-linear-gradient(#0089b3, #00accc); background-image: -o-linear-gradient(#0089b3, #00accc); background-image: linear-gradient(#0089b3, #00accc); -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.6); -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.6); box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.6); }

/* Cloud button
--------------------------------------------------------------------------------- */
.button-cloud { background: #a2b71c; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c0cf3c), color-stop(100%, #a2b71c)); background-image: -webkit-linear-gradient(#c0cf3c, #a2b71c); background-image: -moz-linear-gradient(#c0cf3c, #a2b71c); background-image: -o-linear-gradient(#c0cf3c, #a2b71c); background-image: linear-gradient(#c0cf3c, #a2b71c); -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }

.button-cloud:hover, .button-cloud:focus { background: #c7d556; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c7d556), color-stop(100%, #acbf30)); background-image: -webkit-linear-gradient(#c7d556, #acbf30); background-image: -moz-linear-gradient(#c7d556, #acbf30); background-image: -o-linear-gradient(#c7d556, #acbf30); background-image: linear-gradient(#c7d556, #acbf30); }

.button-cloud:active { background: #8da119; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8da119), color-stop(100%, #b0bf37)); background-image: -webkit-linear-gradient(#8da119, #b0bf37); background-image: -moz-linear-gradient(#8da119, #b0bf37); background-image: -o-linear-gradient(#8da119, #b0bf37); background-image: linear-gradient(#8da119, #b0bf37); -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.6); -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.6); box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.6); }

/* the overlayed element */
.simple_overlay { display: none; z-index: 10000; background-color: #333; width: 700px; min-height: 281px; border: 5px solid white; }

/* close button positioned on upper right corner */
.simple_overlay .close { background-image: url(/img/close.png); position: absolute; right: -20px; top: -20px; cursor: pointer; height: 35px; width: 35px; }

/* ==|== non-semantic helper classes ======================================== Please define your styles before this section. ========================================================================== */
/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }

.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }

.clearfix { zoom: 1; }

/* ==|== media queries ====================================================== PLACEHOLDER Media Queries for Responsive Design. These override the primary ('mobile first') styles Modify as content requires. ========================================================================== */
@media only screen and (min-width: 480px) { /* Style adjustments for viewports 480px and over go here */ }
@media only screen and (min-width: 768px) { /* Style adjustments for viewports 768px and over go here */ }
/* ==|== print styles ======================================================= Print styles. Inlined to avoid required HTTP connection: h5bp.com/r ========================================================================== */
@media print { * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
@media only screen and (max-width: 1024px) { div#carousel-wrapper div.images { width: 100%; }
  div#carousel-wrapper div.images h1 { margin-left: 20px; }
  div#carousel-wrapper div.images div { background-size: 97%; }
  div#carousel-wrapper div.images div a.button { left: 20px; } }
