/* Primary Nav
--------------------------------------------------------------------------------- */
#firstnav {
  position:absolute;
  top:30px;
  right:42px;
  z-index: 500;
  

  /* Nav - level 1 */
  > ul {
    float:right;
    
    > li.has_children {


      a {
        &:link,
        &:visited {
          position:relative;
          padding-right:30px;
        }
        
        &:hover {
          span {
            @include opacity(1);
          }
        }
      }
      
      span {
        position:absolute;
        top:17px;
        right:12px;
        display:block;
        width:7px;
        height:7px;
        background:url(http://cdn.onapp.com/assets/img/global-sprites.png) -308px -21px no-repeat;
        @include opacity(0.6);
      }
    }

    li.has_children:hover {
      > ul {
        display:block;
      }

      > a {
        &:link,
        &:visited {
          position:relative;
          z-index:200;
          background:#fff;
          color:$dark-grey;
          @include border-top-left-radius(3px);
          @include border-top-right-radius(3px);
          
          span {
            @include opacity(1);
          }
        }
      }
    }
  }
  
  
  li {
    position:relative;
    float:left;
    margin:4px 0 0 8px;
    font-family: $header-fonts;
    font-size: 15px;
    a {
      &:link,
      &:visited {
        display:block;
        padding:10px 20px 8px 20px;
        
        color:$body-grey;
        text-decoration:none;
      }
      
      &:hover,
      &:focus {
        color:$dark-grey;
      }
    }
  }
}


/* Primary Nav - level 2 */

#firstnav ul {
  ul {
    display:none;
    z-index:110;
    position:absolute;
    top:36px;
    padding:20px 20px 30px 20px;
    background:#fff;
    @include border-radius(3px);
    @include single-box-shadow(rgba(0,0,0,0.15), 0, 0, 10px);
    
    li {
      margin:0;
      width:140px;
      font-family: $body-fonts;
      font-size: 12px;
    }

    a {
      &:link,
      &:visited {
        margin:0 4px;
        padding:5px 6px;
        border-bottom:1px solid $border-grey;
        font-weight:bold;
        
        color:$dark-grey;
      }
      
      &:hover,
      &:focus {
        color:$onapp-blue;
      }
    }

  }

  ul.col2,
  li.node_contact > ul,
  li.node_support-and-docs > ul,
  li.node_company > ul {
    width:420px;
    left:50%;
    margin-left:-290px;
  }

  ul.col3,
   {
    width:420px;
    left:50%;
    margin-left:-240px;
  }

  ul.col4,
  li.node_products > ul {
    width:420px;
    left:50%;
    margin-left:-310px;
  }
}


/* Primary Nav - level 3 */

#firstnav ul ul ul {
  display:block;
  position:static;
  float:left;
  padding:0;
  background:none;
  @include single-box-shadow(none);
  
  li {
    float:none;
  }

  a {
    &:link,
    &:visited {
      font-weight:normal;
      color:$body-grey;
    }

    &:hover,
    &:focus {
     color:$onapp-blue;
    } 
  }
}